.card-container {
    perspective: 1000px;
    cursor: pointer;
    height: 90%;
  }
  
  .movie-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .movie-card:hover {
    transform: rotateY(180deg);
    box-shadow: 0 3px 18px rgb(41, 130, 240);
  }
  
  .movie-poster {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Backside with Blurred Background */
  .movie-details {
    position: relative;
    margin: 5px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    transform: rotateY(180deg);
  }
  
  /* Movie details content (text) */
  .details-content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .movie-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    /* margin: 0px; */
  }
  
  .movie-genre, .movie-language {
    font-size: 1rem;
    color: #333;
    margin: 0px;
  }
  
  .movie-description {
    font-size: 0.9rem;
    color: #555;
    margin: 0px;
    overflow: hidden;
  }
  